.footer {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top-style: groove;
  border-top-color: gold;
  background-color: black ; 
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 10px;
}

.icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease; 
  cursor: pointer;
}

.icon:hover {
  color: gold; 
  transform: scale(1.2); 
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
  color: #ffffff; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .social-media {
    gap: 10px; 
  }

  .icon {
    font-size: 20px; 
  }

  .copyright {
    font-size: 13px; 
  }
}

@media (max-width: 480px) {
  .social-media {
    gap: 8px; 
  }

  .icon {
    font-size: 18px; 
  }

  .copyright {
    font-size: 12px; 
  }
}
